@font-face {
  font-family: 'NanumSquareNeo-Variable';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: 'NanumSquareNeo-Variable';
  font-weight: 100;
}
html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

button[type=''] {
  padding: 0.5em;
}

* {
  &:before,
  &:after,
  & {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}

#root > .App {
  width: 100%;
  margin: 0;
  padding: 0;
}

.layoutList {
  &__title {
    span {
      padding: 0 0.2em;
      background-color: rgb(200, 240, 206);
    }
  }
  hr {
    min-width: 2.7em;
    display: block;
    margin: 20px auto;
  }
  ul {
    display: grid;
    list-style: disc;
    padding: 1em;
    row-gap: 0.5em;
  }
  a {
    display: flex;
    word-break: keep-all;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      text-underline-offset: 2px;
    }
    > span {
      flex: 0 0 auto;
      min-width: 2.7em;
      display: inline-block;
      margin-right: 0.3em;
    }

    &:visited {
      color: inherit;
    }

    b {
      font-weight: bold;
    }
  }
}

.layoutHeader {
  background: rgb(230, 230, 230);
  gap: 5px;
  height: 50px;
  display: flex;
  padding: 0 20px;
  align-items: center;
  position: sticky;
  z-index: 100;
  top: 0;
  button {
    background: none;
    padding: 0.5em;
    margin: 0;
    margin-right: 0.5em;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0.2em;
    cursor: pointer;
    &:hover {
      background-color: #f9f9f9;
    }
  }
}
.layoutMain {
  width: 100%;
  background-color: #fff;
  padding: 20px;
  min-height: calc(100vh - 50px);
}
.layoutFooter {
  background: rgb(230, 230, 170);
  height: 50px;
  display: flex;
  padding: 0 20px;
  align-items: center;
}

.pageDesc {
  margin-top: 1em;
  padding: 1em;
  line-height: 1.5;
  background-color: #444;
  color: #fff;
  display: block;
  font-family: 'D2Coding', Consolas, 'Courier New', monospace;
  letter-spacing: -0.05em;
  white-space: pre;
  margin: 1em 0px;
}
